@media (max-width: 600px) {
  .container {
    flex-direction: column;
  }

  .menu,
  .graph {
    flex: none;
    width: 100%;
  }
}

body {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #dcdcdc;
  border-radius: 5px;
}

.container {
  /* border: 1px solid red; */
  display: flex;
  height: 95vh;
  width: 99.5%;
  padding: 10px;
  gap: 3px;
}

.menu {
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  width: 20%;
  min-width: 210px;
  max-width: 300px;
}

.menu-content {
  width: 93%;
  padding: 0px;
  margin: 0px;
  padding-right: 4px;
  overflow-y: auto;
  overflow-x: hidden;
  overflow-wrap: break-word;
}

.graph {
  /* border: 1px solid blue; */
  width: 80%;
  position: relative;
}

#cy {
  width: 100%;
  height: 100%;
}

.search {
  position: sticky;
  width: 90%;
  border: none;
  padding: 10px 5px;
  margin-top: 10px;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
}
.search:focus {
  outline: none;
}

details {
  margin-top: 10px;
  background-color: #f4f4f4;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  color: black;
}

details[open] {
  background-color: white;
}

details summary {
  padding: 10px 12px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin: 0px;
}

details summary:hover {
  background-color: #7b9ef6;
}

details[open] summary {
  background-color: #98b5ff;
}

details ul {
  list-style: none;
  margin: 0px;
  padding: 0px 10px;
  border-bottom: 1px solid #ccc;
}
details li {
  list-style: none;
  font-size: 14px;
  text-decoration: underline;
  border-bottom: 1px solid #eee;
  color: #6e95f9;
  padding: 8px 8px;
  margin: 0px;
}
details li:hover {
  background-color: #ebebeb;
}
details li:active {
  background-color: #cecece;
}
details li.clicked {
  background-color: #e9e8e8;
}
details li:last-child {
  border-bottom: none;
}

.button-container {
  display: flex;
  gap: 10px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: #f4f4f4;
  border: none;
  border-radius: 5px;
  padding: 10px 12px;
}

.clear-highlights-btn,
.fit-btn {
  background-color: #b9ccfc;
  border: none;
  padding: 10px 12px;
  cursor: pointer;
  border-radius: 5px;
  margin: 0px;
  color: black;
}

.fit-btn:hover,
.clear-highlights-btn:hover {
  background-color: #7b9ef6;
}

.fit-btn:active,
.clear-highlights-btn:active {
  background-color: #b9ccfc;
}
