@media (max-width: 600px) {
    .container {
      flex-direction: column;
    }
  
    .menu, .graph {
      width: 100%;
      flex: none;
    }
  }

.container {
    /* border: 1px solid red; */
    display: flex;
    height: 90vh;
    width: 98%;
    padding: 10px;
    gap: 15px;
  }

.menu {
    /* border: 1px solid green; */
    font-family: Arial, sans-serif;
    width: 25%;
    overflow-y: auto;
    overflow-x: hidden;
    overflow-wrap: break-word;
}

.graph {
    /* border: 1px solid blue; */
    width: 75%;
}

#cy {
    width: 100%;
    height: 100%;
}

.search {
    width: 100%;
    border: none;
    padding: 10px 5px;
    margin-top: 10px;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
}
.search:focus {
    outline: none;
}

.toggle-button {
    background-color: #F4F4F4;
    width: 100%;
    text-align: left;
    color: black;
    font-size: 15px;
    padding: 10px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.toggle-button:hover {
    background-color: #7b9ef6;
}

.toggle-button.active {
    background-color: #98B5FF;
    content: '▼';
}

.toggle-button::before {
    content: '▶';
    margin-right: 8px;
    display: inline-block;
    transition: transform 0.2s;
}

.toggle-button.active::before {
    content: '▼';
}

.toggle-list {
    display: none;
}

.toggle-list.active {
    display: block;
    list-style: none;
    padding: 0px 10px;
    margin: 0px;
    border-bottom: 1px solid #ccc;
}
  
.toggle-list li {
    font-size: 15px;
    padding: 8px 0px;
    border-bottom: 1px solid #eee;
    color: #6e95f9;
    text-decoration: underline;
}

.toggle-list li:last-child {
    border-bottom: none;
}

